
body {
    font-family: 'Post No Bills Jaffna';
    position: relative;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

main {
    /* background: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612357676_54-p-fon-dlya-prezentatsii-v-korichnevikh-tonak-69.jpg); */
    background-size: cover;
    height: auto;
    width: 100%;
    margin: 0;
    position: absolute;
    padding: 10px;
    background-color: rgb(35, 10, 10);
}

.intro {
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}
a {
    color:coral
}
a:hover {
    color: darkslategrey;
}
.intro:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.video_media {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0;
}

.video {
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
    margin: 0;
    width: 100%;
    height: 100vh;
}

h1 {
    position: absolute;
    font-family: Times;
    top: 100px;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 45px;
    color: rgba(8, 55, 185, 0.699);
}

.h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: red;
}

h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    color: red;
    text-align: center;
}
p {
    font-family:  'Post No Bills Jaffna';
    color:rgb(132, 164, 192);
    font-size: 17px;
}

footer {
    background: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612357676_54-p-fon-dlya-prezentatsii-v-korichnevikh-tonak-69.jpg);
    color: rgb(111, 153, 149);
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

.product {
    position: absolute;
    z-index: 2;
    margin: 0;
    font-size: 15px;
    text-align: right;
    top: 0;
    left: 0;
    color: cadetblue;
}